<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @item[:title] %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Oswald:100,200,300,400,500,600,700,800,900" rel="stylesheet"></link>
    <script src="https://kit.fontawesome.com/2a6d31d107.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/main.css" />
    <link href="images/icons8-knight-16.png" rel="icon" type="image/png"></link>
  </head>
  <body class="text-lg min-h-screen bg-slate-200">
    <%= yield %>
  </body>
</html>
